<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.nextshop_api.user.repository.UserMapper">
	<resultMap type="UserDto" id="userResultMap">
		<id column="id" property="id"/>
		<result column="email" property="email"/>
		<result column="password" property="password"/>
		<result column="name" property="name"/>
		<result column="phone" property="phone"/>
		<result column="gender" property="gender"/>
		<result column="cart_count" property="cartCount"/>
		<result column="created_at" property="createdAt"/>
		<result column="updated_at" property="updatedAt"/>
		<collection property="authorities" ofType="string">
			<result column="authority_id"/>
		</collection>
	</resultMap>

	<sql id="userSql">
		SELECT u.id,
		       u.email,
		       u.password,
		       u.name,
		       u.phone,
		       u.gender,
               (
                   SELECT COUNT(*) 
                   FROM carts c
                   INNER JOIN cart_items ci ON c.id = ci.cart_id
                   WHERE c.user_id = u.id
               ) AS cart_count,
		       u.created_at,
		       u.updated_at,
		       ua.authority_id
		FROM users u
		INNER JOIN user_authorities ua
		ON u.id = ua.user_id
	</sql>

	<select id="findAllUsers" resultMap="userResultMap">
		<include refid="userSql" />
	</select>
	
	<select id="findUserByEmail" resultMap="userResultMap">
		<include refid="userSql" />
		WHERE u.email = #{email}
	</select>

    <select id="findUserById" resultMap="userResultMap">
        <include refid="userSql" />
        WHERE u.id = #{id}
    </select>
	
	<insert id="saveUser" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
		INSERT INTO users(email, password, name, phone, gender)
		VALUES(#{email}, #{password}, #{name}, #{phone}, #{gender})
	</insert>
	
	<insert id="saveUserAuthority">
		INSERT INTO user_authorities(user_id) VALUES(#{id})
	</insert>
	
	<insert id="saveVisitRoutes">
		INSERT INTO user_visit_routes (user_id, visit_route_id) VALUES
		<foreach collection="visitRoutes" item="item" separator=",">
			(#{id}, #{item})
		</foreach>
	</insert>
	
	<select id="findCartByUserId" resultType="CartDto">
		SELECT id, user_id, created_at, updated_at FROM carts WHERE user_id = #{userId}
	</select>
	
	<insert id="saveCart" keyColumn="id" keyProperty="cartId" useGeneratedKeys="true">
		INSERT INTO carts (user_id) VALUES (#{userId}) 
	</insert>
	
	<update id="updateCart">
		UPDATE carts SET updated_at = CURRENT_TIMESTAMP WHERE id = #{id}		
	</update>
	
	<select id="findCartItemByCartIdAndProductSizeId" resultType="CartItemDto">
		SELECT id, cart_id, product_size_id, quantity, created_at FROM cart_items WHERE cart_id = #{cartId} and product_size_id = #{productSizeId} 
	</select>
	
	<update id="updateCartItemQuantity">
		UPDATE cart_items SET quantity = #{quantity} WHERE id = #{id}
	</update>
	
	<insert id="saveCartItem">
		INSERT INTO cart_items (cart_id, product_size_id, quantity) VALUES (#{cartId}, #{productSizeId}, 1)
	</insert>
	
	<select id="findCartOverviewByUserId" resultType="CartOverviewDto">
		SELECT ci.id,
               ci.cart_id,
               ci.product_size_id,
               ci.quantity,
               ci.created_at,
               p.id AS product_id,
               p.category_id,
               p.name AS product_name,
               p.price,
               pi.image_url,
               pi.alt_text,
			   ps.color,
               ps.size
		FROM carts c
		INNER JOIN cart_items ci ON c.id = ci.cart_id
		INNER JOIN product_sizes ps ON ps.id = ci.product_size_id
		INNER JOIN products p ON p.id = ps.product_id
		INNER JOIN product_images pi ON p.id = pi.product_id
		WHERE c.user_id = #{userId}
		AND pi.sort_order = 1
	</select>
	
	<delete id="deleteCartItemById">
		DELETE FROM cart_items WHERE id = #{id}
	</delete>
</mapper>